<form id="addCatForm" style="padding-left:0.2cm;">

<h3>Use this form to describe the cat you just adopted!</h3>

<p>Name:</p><input type="text" name="name"/>
<p>Age:</p><input type="text" name="age"/>
<p>Color:</p><input type="text" name="color"/>
<input type="submit" value="Add Cat" style="font-size:18px; background-color:white;">
</form>
<br>
<div id="newCat" style="padding-left:0.2cm;"></div>

<br><br>
<div style="padding-left:0.2cm;">
<a href="/"><button name="button" type="button" style="font-size:18px; background-color:white;">Back</button></a>
</div>