.content{
    text-align: center;
}

button{
    font-size:18px; 
    background-color: white;
}

#footer{
    width: 100%;
}

#coloredSquare{
    display: block;
    height: 30px;
    width: 30px;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}